<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hs.server.dao.impl.RecordAttchExMapper">
  <delete id="deleteByCustomAndRecord" parameterType="com.hs.server.domain.Record">
    delete from record_attch
    where CUSTOM_ID = #{customId,jdbcType=VARCHAR} AND RECORD_ID = #{recordId,jdbcType=VARCHAR}
  </delete>
</mapper>