<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>客户管理系统</title>
	<link rel="stylesheet" type="text/css" href="/plugins/layui/css/layui.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/css/fs.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="/css/login.css" media="all"/>
	<script type="text/javascript" src="/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/frame/js/fs.js?v=1.7.0"></script>
	<script type="text/javascript" src="/plugins/frame/js/frame.js?v=1.7.0"></script>
	<script type="text/javascript" src="/plugins/frame/js/fsForm.js?v=1.7.0"></script>
</head>
<body>
<div class="m-login-bg">
	<div class="m-login">
		<h3>客户管理系统</h3>
		<div class="m-login-warp">
			<form class="layui-form">
				<div class="layui-form-item">
					<label class="layui-form-label">用户名</label>
					<div class="layui-input-block">
						<input type="text" name="login" required="" lay-verType="tips" lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input"/>
					</div>
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label">密码</label>
					<div class="layui-input-block">
						<input type="password" name="password" required=""  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input"/>
					</div>
				</div>
				<hr/>
				<div class="layui-form-item" style="text-align: center;">
					<button class="layui-btn" lay-submit="" lay-filter="save" url="/doLogin" targetUrl="/main">登录</button>
				</div>
			</form>
		</div>
	</div>
</div>

</body>
</html>
