<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <meta name="theme-color" content="#2196f3">
    <title>客户管理</title>
    <link rel="stylesheet" th:href="@{framework7/css/framework7.material.min.css}">
    <link rel="stylesheet" th:href="@{framework7/css/framework7.material.colors.min.css}">
    <link rel="stylesheet" th:href="@{framework7/css/framework7-icons.css}">

    <link rel="stylesheet" th:href="@{hs/css/main.css}">
</head>
<body>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Pages container, because we use fixed navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-fixed toolbar-fixed">
            <!-- Page, "data-page" contains page name -->
            <div data-page="userlist" class="page">

                <!-- Top Navbar. In Material theme it should be inside of the page-->
                <div class="navbar">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="link icon-only">
                                <i class="icon icon-back"></i>
                            </a>
                        </div>
                        <div class="center">客户列表</div>
                        <div class="right">
                            <a href="#" class="link icon-only">
                                <i class="icon icon-bars"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Bottom Toolbar. In Material theme it should be inside of the page-->
                <div class="toolbar toolbar-bottom tabbar tabbar-labels">
                    <div class="toolbar-inner">
                        <!-- Toolbar links -->
                        <a href="#tab1" class="tab-link active">
                            <i class="icon f7-icons">home</i>
                            <span class="tabbar-label">首页</span>
                        </a>
                        <a href="#tab2" class="tab-link">
                            <i class="icon f7-icons">persons</i>
                            <span class="tabbar-label">用户</span>
                        </a>
                        <a href="#tab3" class="tab-link">
                            <i class="icon f7-icons">settings</i>
                            <span class="tabbar-label">设置</span>
                        </a>
                        <a href="#tab4" class="tab-link">
                            <i class="icon f7-icons">star</i>
                            <span class="tabbar-label">我的</span>
                        </a>
                    </div>
                </div>

                <!-- Scrollable page content -->
                <div class="page-content">
                    <div class="list-block cards-list">
                        <ul>
                            <li class="card">
                                <div class="card-header">Card Header</div>
                                <div class="card-content">
                                    <div class="card-content-inner">Card content</div>
                                </div>
                                <div class="card-footer">Card footer</div>
                            </li>
                            <li class="card">
                                <div class="card-header">Card Header</div>
                                <div class="card-content">
                                    <div class="card-content-inner">Card content</div>
                                </div>
                                <div class="card-footer">Card footer</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 你的html代码 -->
<script type='text/javascript' th:src="@{framework7/js/framework7.min.js}"></script>
<script type='text/javascript' th:src="@{hs/js/main.js}"></script>
</body>
</html>