<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta content="text/html;charset=UTF-8"/>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>客户管理系统</title>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
	<link href="https://cdn.bootcss.com/pace/1.0.2/themes/pink/pace-theme-flash.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/plugins/layui/css/layui.css" media="all"/>
	<!--<link rel="stylesheet" type="text/css" href="/plugins/layui/css/layui.mobile.css" media="all"/>-->
	<link rel="stylesheet" type="text/css" href="/css/fs.css" media="all"/>
	<script type="text/javascript" src="/plugins/layui/layui.js"></script>
	<script type="text/javascript" src="/plugins/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/plugins/frame/js/fsDict.js?v=1.7.0"></script>
	<script type="text/javascript" src="/plugins/frame/js/fs.js?v=1.7.0"></script>
	<script type="text/javascript" src="/plugins/frame/js/frame.js?v=1.7.0"></script>

</head>
<body>
<div class="layui-fluid">
	<div class="layui-row layui-col-space1">
		<div class="layui-col-md12" style="margin-bottom: 3px;">
			<div class="layui-collapse">
				<div class="layui-colla-item">
					<h2 class="layui-colla-title">查询</h2>
					<div class="layui-colla-content">

						<div class="layui-form-query">
							<form class="layui-form" id="query_form">
								<div class="layui-form-item">
									<div class="layui-inline">
										<label class="layui-form-mid">用户登录ID：</label>
										<div class="layui-input-inline" style="width: 100px;">
											<input type="text" name="loginId" autocomplete="off" class="layui-input"/>
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-mid">用户名：</label>
										<div class="layui-input-inline" style="width: 150px;">
											<input type="text" name="userName" autocomplete="off" class="layui-input"/>
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-mid">类型：</label>
										<div class="layui-input-inline" style="width: 180px;">
											<select name="role" lay-verify="required">
												<option value="">--请选择--</option>
												<option value="0">管理员</option>
												<option value="1">用户</option>
											</select>
										</div>
									</div>
								</div>

								<div class="layui-form-item">


									<div class="layui-inline">
										<label class="layui-form-mid">创建时间：</label>
										<div class="layui-input-inline" style="">
											<input type="text" name="from" autocomplete="off" class="layui-input fsDate" dateType="date"/>
										</div>
									</div>
									<div class="layui-inline">
										<label class="layui-form-mid">-</label>
										<div class="layui-input-inline" style="">
											<input type="text" name="to" autocomplete="off" class="layui-input fsDate" dateType="date"/>
										</div>
									</div>
									<div class="layui-inline">
										<div class="layui-input-inline">
											<button class="layui-btn" type="button" function="query"><i class="layui-icon">&#xe615;</i>查询</button>
										</div>
									</div>


								</div>
							</form>
						</div>


					</div>
				</div>
			</div>
		</div>
		<div class="layui-col-md12">
			<div class="layui-row grid-demo">
				<div class="layui-col-md12">
					<button class="layui-btn" function="top" topUrl="rout/userDetail?mode=add" topMode="add" topWidth="600px" topHeight="400px" topTitle="新增">
						<i class="layui-icon">&#xe654;</i>新增
					</button>
					<button class="layui-btn" function="refresh">
						<i class="layui-icon">&#x1002;</i>刷新
					</button>
				</div>
				<div class="layui-col-md12">
					<table id="fsDatagrid" lay-filter="fsDatagrid" class="fsDatagrid" url="/api/user/queryUsers" isPage="1" defaultForm="query_form" height="full-120" pageSize="10"></table>

					<div class="fsDatagridCols">
						<p type="numbers" title="#" />
						<p checkbox="true"/>
						<p field="loginId" title="登录ID" width="10%" sort="true"/>
						<p field="userName" title="用户名" width="20%" sort="true"/>
						<p field="role" title="角色"  width="10%" templet="#roleTpl"/>
						<p field="createDate" title="创建时间" width="30%" />
						<p fixed="right" align="center" toolbar="#barDemo" title="操作" width="30%"/>


					</div>

					<script type="text/html" id="roleTpl">
						{{#  if(d.role == '0'){ }}
						管理员
						{{# } else if(d.role == '1'){ }}
						用户
						{{#  } }}
					</script>

					<script type="text/html" id="barDemo">
						<a class="layui-btn layui-btn-sm" lay-event="top" topUrl="rout/userDetail?mode=readonly" topMode="readonly" topWidth="600px" topHeight="400px" isMaxWindow="" topTitle="查看" inputs="userId:">查看</a>
						<a class="layui-btn layui-btn-sm" lay-event="top" topUrl="rout/userDetail?mode=edit" topMode="edit" topWidth="600px" topHeight="400px" isMaxWindow="" topTitle="编辑" inputs="userId:">编辑</a>
						<a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="submit" url="/api/user/delUser"  isConfirm="1" confirmMsg="是否确定删除当前记录？"  topTitle="删除" inputs="userId:">删除</a>
					</script>
				</div>
			</div>

		</div>

	</div>
</div>
</body>

</html>
